
@font-face {
    font-family: 'noto_serif_scblack';
    src: url('NotoSerifSC-Black.woff2') format('woff2'),
         url('NotoSerifSC-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}



@font-face {
    font-family: 'noto_serif_sclight';
    src: url('NotoSerifSC-Light.woff2') format('woff2'),
         url('NotoSerifSC-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

