/* NotoSerifSC-Black */
@font-face {
  font-family: 'NotoSerifSC';
  font-weight: 900;
  font-style: normal;
  unicode-range: U+4E00-9FFF;
  src: url('fonts/NotoSerifSC-Black.eot');
  src: url('fonts/NotoSerifSC-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/NotoSerifSC-Black.woff2') format('woff2'),
       url('fonts/NotoSerifSC-Black.woff') format('woff'),
       url('fonts/NotoSerifSC-Black.ttf') format('truetype'),
       url('fonts/NotoSerifSC-Black.svg#NotoSerifSC-Black') format('svg');
}

/* NotoSerifSC-Regular */
@font-face {
  font-family: 'NotoSerifSC';
  font-weight: normal;
  font-style: normal;
  unicode-range: U+4E00-9FFF;
  src: url('fonts/NotoSerifSC-Regular.eot');
  src: url('fonts/NotoSerifSC-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/NotoSerifSC-Regular.woff2') format('woff2'),
       url('fonts/NotoSerifSC-Regular.woff') format('woff'),
       url('fonts/NotoSerifSC-Regular.ttf') format('truetype'),
       url('fonts/NotoSerifSC-Regular.svg#NotoSerifSC-Regular') format('svg');
}

/* georgia */
@font-face {
  font-family: 'georgia';
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-007F;
  src: url('fonts/georgia.eot');
  src: url('fonts/georgia.eot?#iefix') format('embedded-opentype'),
       url('fonts/georgia.woff2') format('woff2'),
       url('fonts/georgia.woff') format('woff'),
       url('fonts/georgia.ttf') format('truetype'),
       url('fonts/georgia.svg#georgia') format('svg');
}

/* georgiab */
@font-face {
  font-family: 'georgiab';
  font-weight: 900;
  font-style: normal;
  unicode-range: U+0000-007F;
  src: url('fonts/georgiab.eot');
  src: url('fonts/georgiab.eot?#iefix') format('embedded-opentype'),
       url('fonts/georgiab.woff2') format('woff2'),
       url('fonts/georgiab.woff') format('woff'),
       url('fonts/georgiab.ttf') format('truetype'),
       url('fonts/georgiab.svg#georgiab') format('svg');
}

.ifonts {
  font-family: "NotoSerifSC" "georgia" !important;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}